body{  
    background-color: #dddcdc;
}
.principalBox1{
    display: flex;
    /*align-items: flex-start;*/
    border: solid;
    border: 1px solid #ccc;
}
.text{
    font-style:italic;
    text-align: justify;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.selfie{
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    /*position:fixed;*/
}
.selfie img{
    width: 50%;
    max-width: 100%;
}
.tittle{
    text-align: center;
}
.tittle:hover{
    color: blueviolet;
    font-size: 50px;
}
.subtittle {
    background-color: blueviolet;
    margin: 2px;
    border-radius: 5px;
    font-style:italic;
}
.subtittle:hover{
    color: white;
}

.menu{
    padding-top: 70px;
}
a[href]{
    color: blue;
    font-family: monospace;
    font-size: 10px;
}
a[href*="./career"]:hover{
    color:rgb(42, 165, 58);
    font-size: 15px;
}
a[href*="./last_years"]:hover{
    color:rgb(214, 10, 3);
    font-size: 15px;
}

.Tasks{
    background-color: rgb(245, 82, 82);
    margin-right: 80%;
    border-radius: 5px;
}
